body{
    background-image: url("Green\ minimalist\ professional\ Business\ Proposal\ Presentation\ \(2\).jpg");
   background-repeat: no-repeat;
   background-size: cover;
}



ul{
 display: flex;
 column-gap: 40px;
 list-style-type: none;
  color: whitesmoke;
}

.search_bar{
    height: 22px;
    width: 250px;
    border: 1px solid white;
    background-color: transparent;
        margin: 17px;
        margin-left: 500px;
        display: flex;
    }
    
    .nav_bar{
        display: flex;
       
    }

    .icon{
        height: 22px;
        width:19%;
        border: 1px solid none; 
    }

    .icon i{
color:white ;
padding: 5px;
    }
     
input{
    background-color: transparent;
    color: white;
    border: none;
    height: 18px;
    width: 200px;
}
input:hover{
    border: none;
}

 input::placeholder{
    color: gray;
 }   
 button{
    color: white;
    background-color: transparent;
    margin-left: 40px;
    padding: 5px;
    margin-left: 500px;
 }
 
 p{
    color: white;
   font-size: 90px;
   margin: 0;
 }
 .container{
    margin-left: 160px;
    margin-top: 110px;
 }
 .path{
    color: gray;
    margin-left: 160px;
    margin-top: 10px;
    font-size: 30px;
    font-family: "Gill Sans", sans-serif;}
    .e-mail{
        color: white;
        font-size:30px ;
        margin-left: 160px;
        margin-top: 55px;
    }
    .com{
        display: flex;
        border: 2px solid rgb(155, 195,136);
        height: 24px;
        width: 300px;
        margin-left: 160px;
        margin-top: 20px;
    }
     

    .you{
        width:220px ;
        padding-left: 10px;
       background-color: white;
         color: gray;
         font-size: 15px
     }
.to_start{
    color:white;
    width:130px;
     padding-left: 15px;
    background-color: rgb(155, 195,136)
       
}
.p_container{
display: flex;
}
.line{
    color: gray;
     
    border: none;
    padding: 15px;
     font-size: 22px
 }
 .free{
    color: white;
    font-size: 10px;
    border: 0.5px solid white;
    margin: centre;
       
}
.cust_link{
    color: white;
    text-decoration: none;
}